<div class="bd-example">
   
      <div class="form-group">
        <label for="exampleFormControlInput1">Todo</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Your Todo">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Status</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option value="true">Completed</option>
          <option value="false">Pending</option>
        </select>
      </div>
      <button class="btn btn-primary" type="submit">Add Todo</button>

</div>